@charset "UTF-8";
/* CSS Document */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
}

.outer {
  text-align: center;
}

.page {
  margin-top: 20px;
  max-width: 1200px;
  width: 100%;
  display: inline-block;

}

.toppage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  background-color: white;
  position: sticky;
  opacity: 0.75;
  top: 0;
  width: auto;
  z-index: 100;
}

.logo {
  max-width: 400px;
  text-align: left;
}

.logo_img {
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar {
  font-size: large;
  flex-grow: 1;
}

.search {
  max-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.search div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_icons {
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
}

a:hover {
  color: crimson;
}

a:active {
  color: darkgray;
}

.content {
  background-color: lightgray
}

.tile {
  height: 600px;
  width: 100%;
  background-size: cover;
}

.tile1 {
  background-image: url("img/yoga.jpg");
}

.tile2 {
  background-image: url("img/beach.jpg");
}

.tile3 {
  background-image: url("img/lemons.jpg");
}

.tile4 {
  background-image: url("img/strawberries.jpg");
}

.tile5 {
  background-image: url("img/kale.jpg");
}

.tile6 {
  background-image: url("img/skin.jpg");
}

#menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .page {
    max-width: 768px;
    display: inline-block;
  }

  #menu {
    display: inline-block;
  }

  #menu img {
    width: 50px;
    padding: 10px;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .logo_img {
    display: none;
  }

  .search {
    display: none;
  }
}

#menuoverlay {
  position: absolute;
  top: 0px;
  background-color: white;
  opacity: 1;
  width: 100%;
  height: 98vh;
  display: none;
  text-align: center;
}


.innermenu {
  margin-top: 50px;
}

.innermenu div {
  padding-bottom: 50px;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  cursor: pointer;
}
